<div class="table table-sm">
    <table>
      <thead>
        <tr>
          <th class="lineupName">LINEUP</th>
          <th>MIN</th>
          <th>FG</th>
          <th>3PT</th>
          <th>FT</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TO</th>
          <th>PF</th>
          <th>+/-</th>
          <th>PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lineup of lineups | slice:0:5">
          <td>{{lineup.Desc}}</td>
          <td>{{lineup.MinutesPlayed}}</td>
          <td>{{lineup.FGM}}-{{lineup.FGA}}</td>
          <td>{{lineup.ThreePM}}-{{lineup.ThreePA}}</td>
          <td>{{lineup.FTM}}-{{lineup.FTA}}</td>
          <td>{{lineup.OffRebounds}}</td>
          <td>{{lineup.DefRebounds}}</td>
          <td>{{lineup.Rebounds}}</td>
          <td>{{lineup.Assists}}</td>
          <td>{{lineup.Steals}}</td>
          <td>{{lineup.Blocks}}</td>
          <td>{{lineup.Turnovers}}</td>
          <td>{{lineup.Fouls}}</td>
          <td>{{lineup.PlusMinus}}</td>
          <td>{{lineup.Points}}</td>
        </tr>
      </tbody>
    </table>
  </div>