<div class="table table-sm">
    <table>
      <thead>
        <tr>
          <th>STARTERS</th>
          <th>MIN</th>
          <th>FG</th>
          <th>3PT</th>
          <th>FT</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TO</th>
          <th>PF</th>
          <th>+/-</th>
          <th>PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of playerData | slice:0:5">
          <td>{{player.FullName}}</td>
          <td>{{player.MinutesPlayed}}</td>
          <td>{{player.FGM}}-{{player.FGA}}</td>
          <td>{{player.ThreePM}}-{{player.ThreePA}}</td>
          <td>{{player.FTM}}-{{player.FTA}}</td>
          <td>{{player.OffRebounds}}</td>
          <td>{{player.DefRebounds}}</td>
          <td>{{player.Rebounds}}</td>
          <td>{{player.Assists}}</td>
          <td>{{player.Steals}}</td>
          <td>{{player.Blocks}}</td>
          <td>{{player.Turnovers}}</td>
          <td>{{player.Fouls}}</td>
          <td>{{player.PlusMinus}}</td>
          <td>{{player.Points}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>BENCH</th>
          <th>MIN</th>
          <th>FG</th>
          <th>3PT</th>
          <th>FT</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TO</th>
          <th>PF</th>
          <th>+/-</th>
          <th>PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of playerData | slice:5">
          <td>{{player.FullName}}</td>
          <td>{{player.MinutesPlayed}}</td>
          <td>{{player.FGM}}-{{player.FGA}}</td>
          <td>{{player.ThreePM}}-{{player.ThreePA}}</td>
          <td>{{player.FTM}}-{{player.FTA}}</td>
          <td>{{player.OffRebounds}}</td>
          <td>{{player.DefRebounds}}</td>
          <td>{{player.Rebounds}}</td>
          <td>{{player.Assists}}</td>
          <td>{{player.Steals}}</td>
          <td>{{player.Blocks}}</td>
          <td>{{player.Turnovers}}</td>
          <td>{{player.Fouls}}</td>
          <td>{{player.PlusMinus}}</td>
          <td>{{player.Points}}</td>
        </tr>
      </tbody>
    </table>
  </div>