/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
thead{
    color: #337AB7;
}
th.playerName{
    width:225px;
}
th.lineupName{
    width: 800px;
}